<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사용자 페이지</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="resources/css/global.css">
	<script type="text/javascript" src="resources/js/user.js"></script> <!-- import한 것과 동일 -->
</head>
<body>
	<section>
		<table id="lists">
			<tr>
				<td class="logo" colspan="2"><img
					class="img" src="http://www.cdc.go.kr/cdc/img/main/h1_logo.png"></td>
				<td class="search_td"><input class="search_input" type="text"
					placeholder="검색어">
					<button class="search_but">검색</button></td>
				<td><button id="login_but">사용자 로그인</button>
					<button id="join_but">사용자 회원가입</button>
					<button id="access_but">관리자 접속</button>
					<button id="register_but">관리자 등록</button></td>
			</tr>
			<tr>
				<td colspan="4"><img class="img"
					src="http://www.cdc.go.kr/cdc/img/main/visual_default_main_m01.jpg"></td>
			</tr>
			<tr>
				<td><img class="img"
					src="http://www.cdc.go.kr/cdc/img/main/visual_default_05.jpg"></td>
				<td><img class="img"
					src="http://www.cdc.go.kr/cdc/img/main/visual_default_12.png"></td>
				<td><img class="img"
					src="http://www.cdc.go.kr/cdc/img/main/visual_default_10.jpg"></td>
				<td><img class="img"
					src="http://www.cdc.go.kr/cdc/img/main/visual_default_08.jpg"></td>
			</tr>
			<tr>
				<td>미세먼지 건강수칙</td>
				<td>법정감염병 분류체계 개편</td>
				<td>인플루엔자</td>
				<td>액상형 전자담배 관련 폐손상</td>
			</tr>
		</table>
	</section>
	<footer></footer>
</body>
<script>
	user.init()

	
</script>
</body>
</html>